@charset "UTF-8";

body{
    background-color: darkred;
    color: bisque;
}
p{
    color: yellow;
}
#red{
    color: red;
}

a{
    text-decoration: none;
    font-size: 16px;
}

a:link, a:visited{
    color: yellow;
}

a:hover, a:active{
    color: purple;
}